* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 100px;
    display: flex;
    z-index: 1;
    animation: move-ground 7.5s linear infinite;
}

#ground img {
    width: 100%;
    height: 100%;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 90%;
    display: flex;
    z-index: -1;
    animation: move-background 25s linear infinite;
}

#background img {
    width: 100%;
    height: 100%;
}

#bird {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    z-index: 2;
}

#pillars {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.pillar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;
    animation: move-pillar 7.5s linear infinite;
}

.pillar img {
    width: 100px;
    height: 100%;
}

.pillar img:first-child {
    transform: scaleY(-1) translateY(100px);
}

.pillar img:nth-child(2) {
    transform: translateY(100px);
}

@keyframes move-ground {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes move-pillar {
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(-10%);
    }
}

@keyframes move-background {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}